.btn-margin_right {
  margin-right: 10px;
}
.container .detail_content {
  margin-top: 20px;
}
.container .detail_content div>.detail_desc {
  width: 70%;
  font-size: 18px;
}
.container .detail_content .detal_author {
  margin: 12px 0;
}
.container .detail_content .detal_author>span {
  color: #6c757d;
}  
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}